.head-block {
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}

.search {
  position: relative;
  width: fit-content;
  width: 30%;
}

.search input {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  padding-right: 2.5rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
}

.search img {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.search img:hover {
  background-color: gray;
  border-radius: 50%;
  padding: 0.2rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: translateY(-50%) scale(1.1);
}

.search input:focus {
  outline: none;
  border-color: #007bff;
}

.total {
  display: flex;
  gap: 1rem;
  width: 30%;
}

.total-hostel {
  font-weight: bold;
  text-align: center;
}

.add-hostel {
  background-color: rgb(6 182 212);
  font-weight: bold;
  text-align: center;
}